@charset "UTF-8";
/* line 5, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
#page{font-family: "Verdana", sans-serif;}

/* line 8, ../sass/develop.scss */
#footer, #header {
  background: #f1f0ee;
}

/* line 9, ../sass/develop.scss */
#sidebar-first {
  background: white;
}

/* line 11, ../sass/develop.scss */
#content {
  padding-right: 20px;
}

/* line 12, ../sass/develop.scss */
#secondary {
  display: none;
}

/* line 13, ../sass/develop.scss */
#navigation {
  display: block;
  position: relative;
  top: 0px;
  float: right;
  width: 100%;
  background: none;
}

/* line 20, ../sass/develop.scss */
.sidebar-first #sidebar-first {
  top: 44px;
  position: static;
  background: white;
  display: block;
}

/* line 25, ../sass/develop.scss */
body {
  min-width: 1088px;
  margin: 0 auto;
  background: #f1f0ee;
  /*font-family: 'HelveticaNeueCyr',Arial,Helvetica, sans-serif;*/
}

/* line 29, ../sass/develop.scss */
div.block {
  position: inherit;
  display: block;
}

/* line 33, ../sass/develop.scss */
#logo {
  float: left;
  top: 15px;
  position: relative;
}

/* line 37, ../sass/develop.scss */
#box_head {
width: 72%;
margin-left: 5%;
top: 15px;
display: inline-flex;
float: left;
position: inherit;
}
/* line 45, ../sass/develop.scss */
#box_head .box_first {
  top: 15px;
  left: 0px;
  border-right: 1px solid #d6d6d6;
  width: 30%;}
/* line 51, ../sass/develop.scss */
#box_head .box_first .box_img_non {
  display: block;
  width: 32px;
  height: 20px;
  float: left;
}
/* line 56, ../sass/develop.scss */
#box_head .box_second {
  top: 15px;
  left: 0px;
  border-right: 1px solid #d6d6d6;
  width: 30%;
  padding-left: 30px;
}
/* line 62, ../sass/develop.scss */
#box_head .box_img {
  height: 34px;
  width: 40px;
  display: initial;
}
/* line 66, ../sass/develop.scss */
#box_head .box_head2 img {
  float: left;
}
/* line 67, ../sass/develop.scss */
#box_head .box_head2 span {
  position: relative;
  font-weight: bold;
  top: 0px;
}
/* line 71, ../sass/develop.scss */
#box_head .box_head2 p {
  font-family: 'HelveticaNeueCyr',Arial,Helvetica, sans-serif;
  font-size: 13px;
  left: 10px;
  position: relative;
  display: inline-block;
  color: #272727;
  width: 78%;
}
/* line 79, ../sass/develop.scss */
#box_head .box_tel {
  top: 10px;
  left: 0px;
  width: 32%;
  padding-left: 30px;
  position: relative;
}
/* line 85, ../sass/develop.scss */
#box_head .box_tel span {
  top: 0px;
  font-size: 19px;
  color: #fe001f;
  line-height: 1.2em;
  font-weight: bold;
  font-family: 'HelveticaNeueCyr',Arial,Helvetica, sans-serif;
  margin-bottom: 10px;
}
/* line 94, ../sass/develop.scss */
#box_head .mail-top a {
  font-family: 'HelveticaNeueCyr',Arial,Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 200;
  font-style: normal;
  color: #272727;
  top: 10px;
  position: relative;
}
/* line 102, ../sass/develop.scss */
#box_head .zvonok {
  padding: 10px 5px;
  font-size: 11px;
  margin-top: 15px;
  color: white;
  background-color: #fd1d38;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}
/* line 111, ../sass/develop.scss */
#box_head .zvonok:hover {
  background-color: #2a679e;
}

/*block head*/
/* line 116, ../sass/develop.scss */
#edit-search-block-form--2 {
  width: 242px;
}

/* line 117, ../sass/develop.scss */
#box_head.box_second {
  position: relative;
  top: 15px;
  left: 0px;
  border-right: 1px solid #d6d6d6;
  width: 30%;
  padding-left: 30px;
}

/* line 125, ../sass/develop.scss */
.box_first .box_head2 {
  display: block;
  position: relative;
  margin-top: 10px;
}

/* line 130, ../sass/develop.scss */
.box_second .box_head2 {
  display: block;
  position: relative;
  margin-top: 10px;
}

/* line 137, ../sass/develop.scss */
#header .block-search {
  position: relative;
  right: 24px;
  float: right;
  top: 15px;
}
/* line 142, ../sass/develop.scss */
#header .block-search #edit-submit {
  border: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  background-color: #2a679e;
  cursor: pointer;
  font-weight: bolder;
}

/* line 153, ../sass/develop.scss */
#primary {
  background: white;
}
/* line 154, ../sass/develop.scss */
#primary a {
  font-family: 'HelveticaNeueCyr',Arial,Helvetica, sans-serif;
  font-size: 13px;
  font-style: normal;
  color: #272727;
}
/* line 159, ../sass/develop.scss */
#primary a:hover {
  color: #9b9a9a;
  text-decoration: none;
}
/* line 162, ../sass/develop.scss */
#primary li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 18px;
}
/* line 166, ../sass/develop.scss */
#primary li .active {
  border-top: 4px solid #5d7ba5;
  padding-top: 6px;
}
/* line 168, ../sass/develop.scss */
#primary:hover {
  color: #9b9a9a;
  text-decoration: none;
}

/*-- highlighted --*/
/* line 174, ../sass/develop.scss */
#header {
  background: #f1f0ee;
  display: block;
  position: relative;
  height: 50px;
}
/* line 179, ../sass/develop.scss */
#header .container {
  background: #f1f0ee;
}
/* line 180, ../sass/develop.scss */
#header .block-menu {
  position: relative;
  width: 100%;
  margin: 0 auto;
  top: 36px;
  background: white;
  display: inline-block;
  font-family: "Verdana", sans-serif;
  padding-bottom: 12px;
}
/* line 189, ../sass/develop.scss */
#header .title {
  display: none;
}
/* line 190, ../sass/develop.scss */
#header ul.menu {
  border: none;
  list-style: none;
  text-align: left;
  border-top: 1px solid #ebebeb;
  width: 98%;
  margin: 0 auto;
  display: block;
  position: relative;
  padding-top: 12px;
}
/* line 200, ../sass/develop.scss */
#header li {
  float: left;
}
/* line 201, ../sass/develop.scss */
#header ul li a {
  border-top: 4px solid white;
  text-decoration: none;
  padding: 10px 4px;
  color: #272727;
  font-size: 14px;
  text-transform: uppercase;
}
/* line 208, ../sass/develop.scss */
#header ul li a:hover {
  border-top: 4px solid #fe001f;
  color: #9b9a9a;
}
/* line 210, ../sass/develop.scss */
#header ul li.leaf {
  margin-left: 0px;
  list-style-image: none;
  list-style-type: none;
}

/*-- highlighted --*/
/*-- sidebar-first --*/
/* line 221, ../sass/develop.scss */
#sidebar-first .block-menu {
  width: 98%;
  margin: 0 auto;
  background: #f1f0ee;
  margin-left: 14px;
  margin-top: 30px;
  padding: 20px 0px 10px 20px;
}
/* line 227, ../sass/develop.scss */
#sidebar-first .title {
  font-size: 21px;
  text-transform: uppercase;
  margin: 0 0 0 0;
  color: black;
}
/* line 232, ../sass/develop.scss */
#sidebar-first ul li.leaf {
  list-style-image: url(/sites/all/themes/basic/img/marker2.png);
}
/* line 233, ../sass/develop.scss */
#sidebar-first ul li.leaf a {
  color: #595959;
  display: block;
  height: 9px;
  margin: 13px 0 0 1px;
  font-size: 12px;
  font-family: "Verdana", sans-serif;
}

/* line 246, ../sass/develop.scss */
.baner1 {
  width: 228px;
  height: 319px;
  overflow: hidden;
  margin: 14px;
  float: none;
  position: relative;
  background: url(/sites/all/themes/basic/img/1_back_request_usluga.jpg);
  background-repeat: no-repeat;
}
/* line 255, ../sass/develop.scss */
.baner1:hover {
  background-position-x: -228px;
}

/* line 257, ../sass/develop.scss */
.baner2 {
  width: 228px;
  height: 319px;
  right: 38px;
  overflow: hidden;
  margin: 9px 0px 0px 20px;
  float: none;
  position: relative;
  background: url(/sites/all/themes/basic/img/2_back_request_calc.jpg);
  background-repeat: no-repeat;
  float: left;
  display: inline-block;
}
@-moz-document url-prefix() 
{ 
.baner2 {margin: 38px 0px 0px 20px;} 
}

/* line 268, ../sass/develop.scss */
.baner2:hover {
  background-position-x: -228px;
}

/*-- sidebar-first --*/
/*-- #content content-area--*/
/* line 273, ../sass/develop.scss */
#main .container {
  background: white;
}

/* line 274, ../sass/develop.scss */
#content {
  background: white;
}

/* line 275, ../sass/develop.scss */
#content-area {
  position: relative;
  top: 25px;
  font-size: 13px;
}
#views_slideshow_cycle_main_front_top_slider-block{position: relative; top: -7px;}
/* line 276, ../sass/develop.scss */
#content-area .block {
  position: relative;
  display: initial;
}
/* line 279, ../sass/develop.scss */
#content-area .block-views .title {
  font-size: 24px;
  color: black;
  font-weight: 100;
  text-transform: uppercase;
  margin: 20px 0 0px 0;
  display: block;
}
/* line 286, ../sass/develop.scss */
#content-area .view-proff-moves {
  width: 67%;
  position: relative;
  display: inline-block;
  top: 20px;
}
/* line 291, ../sass/develop.scss */
#content-area .view-proff-moves .views-field-field-img-proff-mov {
  width: 63%;
  margin: 0 auto;
}
/* line 295, ../sass/develop.scss */
#content-area .view-proff-moves .views-slideshow-controls-text-previous-processed {
  background: url(/sites/all/themes/basic/img/a18.png);
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position-y: 25px;
  top: 40px;
  position: relative;
}
/* line 303, ../sass/develop.scss */
#content-area .view-proff-moves .views-slideshow-controls-text-previous-processed a {
  opacity: 0;
}
/* line 304, ../sass/develop.scss */
#content-area .view-proff-moves .views-slideshow-controls-text-next-processed {
  position: relative;
  margin-left: 85%;
  background: url(/sites/all/themes/basic/img/a18.png);
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position-y: 25px;
  background-position-x: -25px;
  top: 40px;
  position: relative;
}
/* line 315, ../sass/develop.scss */
#content-area .view-proff-moves .views-slideshow-controls-text-next-processed a {
  opacity: 0;
}
/* line 316, ../sass/develop.scss */
#content-area .view-proff-moves .views-slideshow-controls-text-pause-processed {
  display: none;
}
/* line 317, ../sass/develop.scss */
#content-area #views_slideshow_slide_counter_proff_moves-block {
  display: none;
}
/* line 319, ../sass/develop.scss */
#content-area #views_slideshow_cycle_main_proff_moves-block .views-field-body {
  font-size: 15px;
  font-weight: 200;
  font-style: normal;
  color: #272727;
  font-family: 'HelveticaNeueCyr',Arial,Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-top: 10px;
}

/*-- content-area--*/
/* line 329, ../sass/develop.scss */
.flat_mov {
  display: inline-block;
  position: relative;
  right: 32.5%;
}
/* line 332, ../sass/develop.scss */
.flat_mov .box1 {
  width: 58%;
  float: left;
  background: #f1f0ee;
}
/* line 333, ../sass/develop.scss */
.flat_mov .box1 span {
  width: 100%;
  background: #6eb0bc;
  padding: 18px 32px 10px 32px;
  color: white;
  line-height: 1.2em;
  font-size: 19px;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  position: relative;
  display: inline-block;
}
/* line 346, ../sass/develop.scss */
.flat_mov p {
  color: #323232;
  line-height: 1.4em;
  font-size: 13px;
  padding: 20px 20px 3px 30px;
  font-family: arial, helvetica, sans-serif;
}
/* line 347, ../sass/develop.scss */
.flat_mov img {
  position: absolute;
  top: 0px;
  padding-left: 15px;
  width: 72%;
}
/* line 348, ../sass/develop.scss */
.flat_mov ul {
  top: 10px;
  position: relative;
}
/* line 349, ../sass/develop.scss */
.flat_mov li {
  margin-left: 50px;
  padding-right: 20px;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  font-size: 13px;
  color: #323232;
  list-style-image: url(/sites/all/themes/basic/img/dot_red.png);
  line-height: 1.4em;
}

/* line 359, ../sass/develop.scss */
.transportirovka_mov {
  display: inline-block;
  position: relative;
  right: 32.5%;
  top: 10px;
}
/* line 364, ../sass/develop.scss */
.transportirovka_mov .box1 {
  width: 58%;
  width: 58%;
  float: left;
  margin-right: 13px;
}
/* line 365, ../sass/develop.scss */
.transportirovka_mov .box1 span {
  background: #9d9582;
  padding: 18px 32px 10px 32px;
  color: white;
  line-height: 1.2em;
  font-size: 19px;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  display: inline-block;
}
/* line 374, ../sass/develop.scss */
.transportirovka_mov .box1 p {
  font-size: 13px;
  line-height: 20.7999992370605px;
  padding: 0 20px 3px 30px;
  font-family: arial, helvetica, sans-serif;
}
/* line 380, ../sass/develop.scss */
.transportirovka_mov .bner3 {
  width: 228px;
  height: 434px;
  overflow: hidden;
  margin: 0;
  float: left;
  position: relative;
  background: url(/sites/all/themes/basic/img/18_ban-upak.jpg);
  background-repeat: no-repeat;
}
/* line 389, ../sass/develop.scss */
.transportirovka_mov .bner3:hover {
  background-position-x: 100%;
}
/* line 391, ../sass/develop.scss */
.transportirovka_mov .box2 {
  width: 40.5%;
  left: 89.5%;
  display: inline-table;
  position: absolute;
  background: #f1f0ee;
}
/* line 392, ../sass/develop.scss */
.transportirovka_mov .box2 span {
  background: #5d7ba5;
  padding: 18px 32px 10px 32px;
  color: white;
  line-height: 1.2em;
  font-size: 19px;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  display: block;
}
/* line 401, ../sass/develop.scss */
.transportirovka_mov .box2 p {
  line-height: 20.7999992370605px;
  padding: 0 20px 3px 30px;
  color: #323232;
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
}

/*-- view-news --*/
/* line 412, ../sass/develop.scss */
.view-news {
  display: inline-block;
  position: relative;
  right: 32.5%;
  top: 10px;
  width: 130%;
  float: left;
}
/* line 419, ../sass/develop.scss */
.view-news .views-row {
  display: block;
  position: relative;
  width: 100%;
  background: #f1f0ee;
  margin-top: 7px;
  overflow: hidden;
}
/* line 420, ../sass/develop.scss */
.view-news .view-newsimg img {
  margin: 10px;
}
/* line 421, ../sass/develop.scss */
.view-news .views-field-field-img-news {
  width: 150px;
  float: left;
  margin: 10px;
}
/* line 422, ../sass/develop.scss */
.view-news .views-field-body {
  font-size: 13px;
  font-family: arial, helvetica, sans-serif;
  line-height: 1.3em;
  color: #595959;
  display: flex;
  padding: 10px;
}
/* line 423, ../sass/develop.scss */
.view-news .views-field-title-1 {
  text-transform: uppercase;
  font-size: 12px;
  color: black;
  margin-bottom: 6px;
  border-left: 3px solid red;
  position: relative;
  display: flex;
  padding-left: 10px;
  margin-top: 10px;
  font-weight: bold;
}
/* line 425, ../sass/develop.scss */
.view-news .views-field-field-date {
  color: #5d7ba5;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  font-size: 13px;
}

/* line 427, ../sass/develop.scss */
.podrobnei {
  display: block;
  position: relative;
  top: 55px;
  width: 100%;
  float: left;
  background: white;
  padding: 30px 0px 30px 10px;
}
/* line 428, ../sass/develop.scss */
.podrobnei a {
  text-transform: uppercase;
  position: relative;
  background-color: #2a679e;
  color: white;
  padding: 5px 10px;
}
/* line 429, ../sass/develop.scss */
.podrobnei a:hover {
  background: #fe001f;
  text-decoration: none;
}

/*-- footer --*/
/* line 435, ../sass/develop.scss */
#footer .container {
  background: white;
}

/* line 437, ../sass/develop.scss */
.fot-cont {
  border-top: 1px solid #ebebeb;
  position: relative;
  display: inline-block;
  width: 100%;
  top: 50px;
  background: white;
  padding-bottom: 50px;
  margin-top: 20px;
}
.fotlogo{    top: 5px;
    font-size: 14px;
    padding: 0px;
    position: relative;
    width: 100%;}
/* line 438, ../sass/develop.scss */
.fot-cont .box {
  display: inline-block;
  float: left;
  margin-left: 14px;
  border-top: 4px solid white;
}
/* line 439, ../sass/develop.scss */
.fot-cont .box span {
  padding-top: 28px;
  font-size: 12px;
  text-transform: uppercase;
  width: 200px;
  display: block;
}
/* line 440, ../sass/develop.scss */
.fot-cont .box:hover {
  border-top: 4px solid #0072b9;
}
/* line 442, ../sass/develop.scss */
.fot-cont .last {
  padding-left: 35px;
  height: 130px;
  border-left: 1px solid #ebebeb;
  padding-bottom: 20px;
}
/* line 443, ../sass/develop.scss */
.fot-cont .last span {
  margin-bottom: 20px;
}
/* line 444, ../sass/develop.scss */
.fot-cont .last a {
  color: #5d7ba5;
}
/* line 446, ../sass/develop.scss */
.fot-cont a {
  color: #595858;
  font-size: 15px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  text-decoration: underline;
}
/* line 447, ../sass/develop.scss */
.fot-cont a:hover {
  color: #5d7ba5;
  text-decoration: none;
}
/* line 450, ../sass/develop.scss */
.fot-cont .white-zvonok {
    border: none;
    font-size: 15px;
    background: #5d7ba5;
    padding: 7px 30px;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 250ms cubic-bezier(0.6, 0.05, 0.3, 1);
    -moz-transition: all 250ms cubic-bezier(0.6, 0.05, 0.3, 1);
    -o-transition: all 250ms cubic-bezier(0.6, 0.05, 0.3, 1);
    transition: all 250ms cubic-bezier(0.6, 0.05, 0.3, 1);
    background: #2a679e;}
/* line 452, ../sass/develop.scss */
.fot-cont .white-zvonok:hover {
  background: #5d7ba5;
  color: white;
}
/* line 454, ../sass/develop.scss */
.fot-cont p {
  color: #5d7ba5;
}

/*-- baners --*/
/* line 458, ../sass/develop.scss */
.baner3 {
  width: 250px;
  height: 258px;
  overflow: hidden;
  margin: 14px;
  float: none;
  position: relative;
  background: url(/sites/all/themes/basic/img/ban_12.jpg);
  background-repeat: no-repeat;
  margin-top: 43px;
  cursor: pointer;}
/* line 468, ../sass/develop.scss */
.baner3:hover {
  background-position-y: -258px;
}

/* line 470, ../sass/develop.scss */
.baner4 {
  cursor: pointer;
  width: 250px;
  height: 258px;
  overflow: hidden;
  margin: 14px;
  float: none;
  position: relative;
  background: url(/sites/all/themes/basic/img/ban_13.jpg);
  background-repeat: no-repeat;
}
/* line 479, ../sass/develop.scss */
.baner4:hover {
  background-position-y: -258px;
}

/*-- contacts --*/
/* line 485, ../sass/develop.scss */
.boxs-cont h2 {
  font-size: 27px;
  color: black;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0px 0 20px 0;
}
/* line 486, ../sass/develop.scss */
.boxs-cont .box {
  display: inline-block;
  float: left;
  padding-left: 20px;
  width: 30%;
}
/* line 487, ../sass/develop.scss */
.boxs-cont .box span {
  font-size: 15px;
  margin-bottom: 15px;
  display: block;
  color: black;
  font-weight: bold;
  margin-top: 20px;
}
/* line 488, ../sass/develop.scss */
.boxs-cont .box p {
  font-size: 18px;
  margin-top: 10px;
}

/* line 495, ../sass/develop.scss */
.view-id-reviews .views-row {
  border-top: 4px solid #fd1d38;
  width: 348px;
  text-align: center;
  position: relative;
  margin-left: 20px;
  display: inline-block;
  left: 0;
  overflow: hidden;
  background-color: #f2f1ef;
  padding-bottom: 20px;
  margin-top: 20px;
}
/* line 507, ../sass/develop.scss */
.view-id-reviews .views-row:hover {
  border-top: 4px solid #2a679e;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
}
/* line 512, ../sass/develop.scss */
.view-id-reviews .views-field-title {
  height: 100px;
  background: white;
  padding: 20px 10px;
}
/* line 513, ../sass/develop.scss */
.view-id-reviews .views-field-field-img-logo-reviews {
  width: 30%;
  float: left;
  background: white;
  padding: 30px 20px;
  height: 100px;
}
/* line 514, ../sass/develop.scss */
.view-id-reviews .views-field-field-img-full-reviews {
  margin-top: 20px;
}
/* line 515, ../sass/develop.scss */
.view-id-reviews a {
  color: #595959;
  margin-bottom: 20px;
  display: block;
  padding-right: 10px;
  font-size: 13px;
  text-align: left;
}

/*-- webform review --*/
/* line 521, ../sass/develop.scss */
#sidebar-second .block-webform {
  border-top: 4px solid #5d7ba5;
  /*left: 16px;*/
  background: white;
  margin-top: 50px;
  padding: 20px 20px 20px 20px;
  text-align: center;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  z-index: 1;
  position: relative;
}
/* line 531, ../sass/develop.scss */
#sidebar-second .block-webform .title {
  font-family: "HelveticaNeueCyr", Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* line 533, ../sass/develop.scss */
#sidebar-second .block-webform #edit-submitted-tekst-otzyva,
#sidebar-second .block-webform .name, #sidebar-second .block-webform .form-email {
  background: #f1f0ee;
}
/* line 535, ../sass/develop.scss */
#sidebar-second .block-webform .form-submit {
  border: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  background-color: #2a679e;
  cursor: pointer;
  font-weight: bolder;
}
/* line 542, ../sass/develop.scss */
#sidebar-second .block-webform .form-submit:hover {
  background-color: #fe001f;
}

/* line 550, ../sass/develop.scss */
.discont span {
  font-size: 27px;
  color: black;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0px 0 20px 0;
  display: block;
}
/* line 556, ../sass/develop.scss */
.discont h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

/*--  promotions shares   --*/
/* line 562, ../sass/develop.scss */
.view-id-share .views-row {
  border-top: 4px solid #fd1d38;
  width: 348px;
  text-align: center;
  position: relative;
  margin-left: 20px;
  display: inline-table;
  left: 0;
  overflow: hidden;
  background-color: #f2f1ef;
  padding-bottom: 20px;
  margin-top: 20px;
}
/* line 574, ../sass/develop.scss */
.view-id-share .views-row:hover {
  border-top: 4px solid #2a679e;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
}
/* line 579, ../sass/develop.scss */
.view-id-share .views-field-title {
  background: white;
  padding: 19px 0px 0px 0px;
  background-color: #5d7ba5;
  color: white;
}
/* line 580, ../sass/develop.scss */
.view-id-share .views-field-field-share {
  background-color: #5d7ba5;
  color: white;
  padding: 14px 30px;
}
/* line 581, ../sass/develop.scss */
.view-id-share .views-field-body {
  padding: 20px 20px 10px 20px;
  text-align: center;
  display: initial;
}
/* line 582, ../sass/develop.scss */
.view-id-share .views-field-body p {
  padding: 0px 20px;
  height: 98px;
  overflow: hidden;
}
/* line 584, ../sass/develop.scss */
.view-id-share .views-field-field-img-full-reviews {
  margin-top: 20px;
}
/* line 585, ../sass/develop.scss */
.view-id-share a {
  color: #595959;
  margin-bottom: 20px;
  display: block;
  padding-right: 10px;
  font-size: 13px;
  text-align: left;
}

/* line 591, ../sass/develop.scss */
.boxs span {
  font-size: 27px;
  color: black;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0px 0 20px 0;
  display: block;
}
/* line 597, ../sass/develop.scss */
.boxs .first {
  float: right;
}
/* line 598, ../sass/develop.scss */
.boxs h4 {
  font-weight: bold;
  display: inline-block;
  margin: 20px 0px;
  position: relative;
}
/* line 602, ../sass/develop.scss */
.boxs p {
  text-align: justify;
  line-height: 20px;
  word-spacing: 0px;
  text-indent: 40px;
  margin: 0.5em 0 1em 0;
}
/* line 607, ../sass/develop.scss */
.boxs .box-border {
  margin: 16px 20px 20px 21px;
  border-left: 4px solid #fe0120;
  padding: 5px 0 5px 15px;
  font-size: 14px;
  line-height: 1.3em;
  text-indent: 0px;
  font-weight: bold;
  width: 75%;
}

/*-- consultation --*/
/* line 620, ../sass/develop.scss */
.second-box {
  background: white;
  position: relative;
  display: block;
  top: 50px;
  /*border-left: 1px solid #e3e3e3;*/
  border-right: 1px solid #e3e3e3;
  padding-bottom: 20px;
}
/* line 628, ../sass/develop.scss */
.second-box .zayavka {
  color: white;
  background-color: #fd1d38;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  font-size: 14px;
  padding: 20px 0px;
}
/* line 635, ../sass/develop.scss */
.second-box .zayavka:hover {
  background: #5d7ba5;
}
/* line 637, ../sass/develop.scss */
.second-box .konsultation {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 20px;
}
/* line 642, ../sass/develop.scss */
.second-box .konsultation h3 {
  background: #f2f1ef;
  /*margin-bottom: 10px;*/
  padding: 11px 18px;
  text-align: center;
  color: black;
  font-weight: 200;
  text-transform: uppercase;
  border-top: 4px solid #5d7ba5;
}
/* line 651, ../sass/develop.scss */
.second-box span {
  color: #fe001f;
  padding: 20px 0px;
  display: inline-block;
  border-top: 1px solid #e3e3e3;
}
/* line 656, ../sass/develop.scss */
.second-box p {
  margin-left: 20px;
  padding: 0px 0 10px 0;
  text-align: left;
  color: #5d7ba5;
  font-size: 14px;
}
/* line 662, ../sass/develop.scss */
.second-box b {
  color: #5a5a5a;
  font-size: 14px;
  text-decoration: none;
}

/*-- usligi gruschekov --*/
/* line 667, ../sass/develop.scss */
.second-box-hour {
  background: white;
  position: relative;
  display: block;
  top: 50px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  /* margin-top: 20px; */
  padding-bottom: 20px;
}
/* line 677, ../sass/develop.scss */
.second-box-hour .zayavka {
  color: white;
  background-color: #fd1d38;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  font-size: 18px;
  padding: 20px 0px;
}
/* line 684, ../sass/develop.scss */
.second-box-hour .zayavka:hover {
  background: #5d7ba5;
}
/* line 686, ../sass/develop.scss */
.second-box-hour .konsultation {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  padding-bottom: 20px;
}
/* line 690, ../sass/develop.scss */
.second-box-hour .konsultation h3 {
  background: #f2f1ef;
  /*margin-bottom: 10px;*/
  padding: 11px 18px;
  font-size: 21px;
  color: black;
  font-weight: 200;
  text-transform: uppercase;
  border-top: 4px solid #5d7ba5;
}
/* line 699, ../sass/develop.scss */
.second-box-hour span {
  color: #fe001f;
  padding: 20px 0px;
  display: inline-block;
  border-top: 1px solid #e3e3e3;
}
/* line 704, ../sass/develop.scss */
.second-box-hour p {
  margin-left: 10px;
  padding: 10px 0 10px 0;
  width: 195px;
  float: right;
  display: inline-flex;
}
/* line 709, ../sass/develop.scss */
.second-box-hour b {
  position: relative;
  text-decoration: none;
  color: #fe001f;
  font-size: 16px;
  width: 95px;
  text-align: right;
  padding-right: 10px;
  display: inline-table;
}
/* line 718, ../sass/develop.scss */
.second-box-hour img {
  width: 70px;
  height: 100%;
}
/* line 719, ../sass/develop.scss */
.second-box-hour .box {
  display: flex;
  margin-bottom: 10px;
}
/* line 721, ../sass/develop.scss */
.second-box-hour .gray_box {
  display: inline-block;
}
/* line 722, ../sass/develop.scss */
.second-box-hour .gray_box p {
  margin-left: 10px;
  padding: 10px 0 10px 0;
  width: 195px;
  display: block;
}

/*-- ╨Э╨Р╨и╨Ш ╨в╨Р╨а╨Ш╨д╨л car --*/
/* line 733, ../sass/develop.scss */
.second-box-car {
  background: white;
  position: relative;
  display: block;
  top: 50px;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  /* margin-top: 20px; */
  padding-bottom: 20px;
}
/* line 743, ../sass/develop.scss */
.second-box-car .zayavka {
  color: white;
  background-color: #fd1d38;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  font-size: 18px;
  padding: 20px 0px;
}
/* line 750, ../sass/develop.scss */
.second-box-car .zayavka:hover {
  background: #5d7ba5;
}
/* line 752, ../sass/develop.scss */
.second-box-car .konsultation {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  padding-bottom: 20px;
}
/* line 756, ../sass/develop.scss */
.second-box-car .konsultation h3 {
  background: #f2f1ef;
  /*margin-bottom: 10px;*/
  padding: 11px 18px;
  font-size: 21px;
  color: black;
  font-weight: 200;
  text-transform: uppercase;
  border-top: 4px solid #5d7ba5;
}
/* line 765, ../sass/develop.scss */
.second-box-car .konsultation a {
  width: 40%;
}
/* line 767, ../sass/develop.scss */
.second-box-car span {
  color: #fe001f;
  padding: 20px 0px;
  display: inline-block;
  border-top: 1px solid #e3e3e3;
}
/* line 772, ../sass/develop.scss */
.second-box-car p {
  margin-left: 10px;
  padding: 10px 0 10px 0;
  width: 195px;
  float: right;
  display: inline-flex;
}
/* line 777, ../sass/develop.scss */
.second-box-car b {
  position: relative;
  text-decoration: none;
  color: #fe001f;
  font-size: 16px;
  width: 114px;
  text-align: right;
  padding-right: 10px;
  display: inline-table;
}
/* line 786, ../sass/develop.scss */
.second-box-car img {
  width: 70px;
  height: 100%;
  margin: 0px 10px;
}
/* line 787, ../sass/develop.scss */
.second-box-car .box {
  display: flex;
  margin-top: 10px;
  border-bottom: 1px solid #e3e3e3;
}
/* line 789, ../sass/develop.scss */
.second-box-car .gray_box {
  display: inline-block;
}
/* line 790, ../sass/develop.scss */
.second-box-car .gray_box p {
  margin-left: 10px;
  padding: 10px 0 10px 0;
  width: 195px;
  display: block;
}

/*-- sheeping-box --*/
/* line 802, ../sass/develop.scss */
.sheeping-conteiner {
  width: 750px;
  display: inline-block;
}

/* line 803, ../sass/develop.scss */
.sheeping-box {
  width: 46%;
  display: inline-block;
  position: relative;
  float: left;
  margin-left: 20px;
}
/* line 809, ../sass/develop.scss */
.sheeping-box h3 {
  padding: 20px 0px 20px 20px;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  background: #5d7ba5;
  border-left: 1px solid #5d7ba5;
  border-right: 1px solid #5d7ba5;
  font-weight: 100;
}
/* line 817, ../sass/develop.scss */
.sheeping-box p {
  color: black;
  text-transform: uppercase;
 /* padding: 10px;*/
}
/* line 820, ../sass/develop.scss */
.sheeping-box b {
  font-size: 14px;
  color: #FE001F;
  font-weight: bold;
  padding-left: 10px;
  display: table;
  margin-left: 10px;
  border-top: 1px dotted grey;
  padding-top: 13px;
  width: 39%;
  text-align: center;
}
/* line 830, ../sass/develop.scss */
.sheeping-box span {
  border-top: 1px dotted grey;
  width: 60%;
  display: inline-block;
  float: left;
  padding-top: 10px;
}

/* line 839, ../sass/develop.scss */
.pay {
  width: 790px;
  display: inline-block;
}
/* line 840, ../sass/develop.scss */
.pay h3 {
  margin-bottom: 10px;
  width: 790px;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  background: #5d7ba5;
  border-left: 1px solid #5d7ba5;
  border-right: 1px solid #5d7ba5;
  padding: 20px 20px;
}
/* line 850, ../sass/develop.scss */
.pay img {
  float: left;
  padding: 30px 40px 40px 40px;
  width: 150px;
}

/* line 853, ../sass/develop.scss */
.control {
  text-align: justify;
  line-height: 20px;
  word-spacing: 0px;
  text-indent: 40px;
  margin: 0.5em 0 1em 0;
  width: 790px;
}
/* line 860, ../sass/develop.scss */
.control h3 {
  padding: 20px 0px 10px 0px;
  font-weight: bold;
}

/* line 866, ../sass/develop.scss */
.view-id-company_news .views-field-field-date-news-company {
  width: 100px;
  font-weight: normal;
  font-size: 16px;
  color: #707070;
  background: #f0f0f0;
  padding: 5px 5px 5px 15px;
  border-left: 2px solid #fe001f;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  border-top-right-radius: 15px;
  margin-top: 20px;
}
/* line 878, ../sass/develop.scss */
.view-id-company_news .field-content {
  font-family: 'HelveticaNeueCyr',Arial,Helvetica, sans-serif;
  color: #272727;
  line-height: 20px;
  font-size: 14px;
  text-align: justify;
}
/* line 884, ../sass/develop.scss */
.view-id-company_news .views-field-title {
  color: #5d7ba5;
  text-transform: lowercase;
  text-decoration: underline;
}
/* line 887, ../sass/develop.scss */
.view-id-company_news a {
  color: #5d7ba5;
}

/*-- galery --*/
/* line 892, ../sass/develop.scss */
.field-name-field-img-galery img {
  width: 28%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
}

/* line 901, ../sass/develop.scss */
.view-id-galery_index .views-row {
  width: 348px;
  height: 280px;
  float: left;
  margin: 0 0 26px 26px;
  border: 1px solid #e5e5e5;
  position: relative;
}
/* line 909, ../sass/develop.scss */
.view-id-galery_index .views-row:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
}
/* line 914, ../sass/develop.scss */
.view-id-galery_index .views-field-field-link-galerys a {
  background: antiquewhite;
  width: 348px;
  height: 250px;
  position: absolute;
  z-index: 77;
  opacity: 0;
}
/* line 922, ../sass/develop.scss */
.view-id-galery_index .views-field-title .field-content {
  background: #5e7ba5;
  position: relative;
  padding: 10px 24px;
  display: block;
  color: white;
  height: 50px;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}
/* line 933, ../sass/develop.scss */
.view-id-galery_index img {
  width: 300px;
  position: relative;
  margin: 0 auto;
  top: 20px;
  display: block;
}

/* line 942, ../sass/develop.scss */
.webform-client-form-45 {
  display: none;
  z-index: 12;
  position: fixed;
  top: 10%;
  width: 500px;
  height: auto;
  background: #f2f1ef;
  border: 1px solid grey;
  padding: 20px;
  margin: 0 auto;
  left: 34%;
}
/* line 955, ../sass/develop.scss */
.webform-client-form-45 .form-submit {
  border: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  background-color: #2a679e;
  cursor: pointer;
  font-weight: bolder;
}
/* line 962, ../sass/develop.scss */
.webform-client-form-45 .form-submit:hover {
  background-color: #fe001f;
}

/* line 967, ../sass/develop.scss */
#bg-webform {
  display: none;
  position: fixed;
  width: 100%;
  background: rgba(128, 128, 128, 0.75);
  top: 0px;
  height: 100%;
  z-index: 11;
  left: 0px;
}

/* line 979, ../sass/develop.scss */
.view-id-price_link_views .views-row {
  border: 1px solid #e3e3e3;
  width: 349px;
  height: 547px;
  float: left;
  margin: 0 0 25px 25px;
}
/* line 985, ../sass/develop.scss */
.view-id-price_link_views .views-row .views-field-title {
  height: 50px;
  padding: 15px;
  text-transform: uppercase;
  background: #5d7ba5;
  font-size: 21px;
}
/* line 991, ../sass/develop.scss */
.view-id-price_link_views .views-row .views-field-field-machine {
  position: relative;
  display: inline-block;
  width: 80px;
  background: url(/sites/all/themes/basic/img/back_10.png) no-repeat left center;
  padding-left: 40px;
  margin: 10px;
  margin: 20px 0px 0px 20px;
  background-size: contain;
}
/* line 999, ../sass/develop.scss */
.view-id-price_link_views .views-row .views-field-field-loader {
    position: relative;
    display: inline-block;
    width: 85px;
    background: url(/sites/all/themes/basic/img/back_11.png) no-repeat left center;
    padding-left: 24px;
    background-size: contain;
    margin-left: 24px;
}
/* line 1006, ../sass/develop.scss */
.view-id-price_link_views .views-row .views-field-field-price-text {
  position: relative;
  display: inline-block;
  width: 95px;
  background: url(/sites/all/themes/basic/img/back_13.png) no-repeat left center;
  padding-left: 40px;
  margin: 10px 0px 0px 20px;
  background-size: contain; 
  padding-left: 30px;
  background-size: contain;
  margin-left: 24px;
}
/* line 1013, ../sass/develop.scss */
.view-id-price_link_views .views-row .views-field-field-opisanie {
  min-height: 40px;
  background: #f2f1ef;
  padding: 10px 20px 20px 20px;
  margin: 10px 0px;
}
.view-id-price_link_views .views-field-field-stoimost span{float: left;}
.view-id-price_link_views .views-field-field-stoimost .stoimost{
  font-size: 15px;
    color: #fe001f;
    position: relative;
    left: 5px;}
.view-id-price_link_views .views-field-field-add-time-1 span{float: left;}  
.view-id-price_link_views .views-field-field-add-time-1 .add_time{
    font-size: 15px;
    color: #fe001f;
    position: relative;
    left: 5px;
} 
/* line 1017, ../sass/develop.scss */
.view-id-price_link_views .views-row .zakaz-btn {
  color: white;
  background-color: #fd1d38;
  text-transform: uppercase;
  font-weight: bolder;
  width: 30%;
  padding: 10px;
  margin: 0 auto;
  top: 30px;
  position: relative;
}
/* line 1026, ../sass/develop.scss */
.view-id-price_link_views .views-row .zakaz-btn:hover {
  background: #5d7ba5;
}
/* line 1028, ../sass/develop.scss */
.view-id-price_link_views .views-row .views-field-field-stoimost,
.view-id-price_link_views .views-row .views-field-field-add-time-1 {
  margin-left: 20px;
  padding-top: 10px;
  font-weight: bold;
  display: inline-flex;
}
/* line 1031, ../sass/develop.scss */
.view-id-price_link_views .views-row:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
}
/* line 1037, ../sass/develop.scss */
.view-id-price_link_views img {
  position: relative;
  top: 10px;
  display: block;
}
/* line 1041, ../sass/develop.scss */
.view-id-price_link_views a {
  color: white;
  width: 100%;
  display: block;
  height: 460px;
  z-index: 33;
  position: relative;
}

/* map*/
/* line 1053, ../sass/develop.scss */
#content-area .block {
  top: 30px;
/*  display: inline-block;
  text-align: center*/
}
/* line 1054, ../sass/develop.scss */
#content-area .block .title {
  font-weight: bold;
}

/* line 1056, ../sass/develop.scss */
#locationmap_map {
  top: 10px;
}

/*tarify loyaut*/
/* line 1062, ../sass/develop.scss */
#content-area .boxs-price span {
  font-size: 27px;
  color: black;
  font-weight: 100;
  text-transform: uppercase;
  margin: 9px 0 20px 0;
}
/* line 1067, ../sass/develop.scss */
#content-area .boxs-price img {
  top: 10px;
  position: relative;
}
/* line 1069, ../sass/develop.scss */
#content-area .boxs-price .box-r {
  width: 50%;
  border-top: 4px solid #5d7ba5;
  position: relative;
  font-weight: normal;
  color: #5a5a5a;
  float: right;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
/* line 1080, ../sass/develop.scss */
#content-area .boxs-price .box-r span {
  font-size: 27px;
  color: black;
  font-weight: 100;
  text-transform: uppercase;
  background: #f2f1ef;
  width: 100%;
  display: block;
  padding: 10px;
  margin-top: 0px;
}
/* line 1091, ../sass/develop.scss */
#content-area .boxs-price .box-r h5 {
  margin: 26px 0 24px 22px;
}
/* line 1092, ../sass/develop.scss */
#content-area .boxs-price .box-r h6 {
  padding: 0 0 0 20px;
  margin-bottom: 11px;
}
/* line 1093, ../sass/develop.scss */
#content-area .boxs-price .box-r b {
  font-size: 19px;
  color: #ff0020;
  font-weight: 400;
  padding-left: 5px;
}
/* line 1097, ../sass/develop.scss */
#content-area .boxs-price .box-r button {
  color: white;
  background-color: #fd1d38;
  text-transform: uppercase;
  font-weight: bolder;
  height: 30px;
  padding: 3px 17px 0 17px;
  font-family: 'HelveticaNeueCyr',Arial,Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: none;
}
/* line 1108, ../sass/develop.scss */
#content-area .boxs-price .box-r button:hover {
  background-color: #2a679e;
}
/* line 1112, ../sass/develop.scss */
#content-area .boxs-price .box-middle {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}
/* line 1113, ../sass/develop.scss */
#content-area .boxs-price .box-middle .title {
  height: 50px;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  background: #5d7ba5;
  border-left: 1px solid #5d7ba5;
  border-right: 1px solid #5d7ba5;
  font-weight: 100;
  width: 100%;
  display: block;
  padding: 15px;
  font-weight: bold;
}
/* line 1126, ../sass/develop.scss */
#content-area .boxs-price .box-middle .box-grey {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  padding-left: 20px;
  height: 38px;
  background: #f1f0ee;
}
/* line 1131, ../sass/develop.scss */
#content-area .boxs-price .box-middle .box-grey b {
  width: 50%;
  display: inline-block;
}
/* line 1132, ../sass/develop.scss */
#content-area .boxs-price .box-middle .box-grey span {
  font-size: 15px;
  display: inline-block;
}
/* line 1135, ../sass/develop.scss */
#content-area .boxs-price .box-middle .box-white {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  padding-left: 20px;
  height: 38px;
}
/* line 1139, ../sass/develop.scss */
#content-area .boxs-price .box-middle .box-white b {
  display: inline-block;
  width: 50%;
}
/* line 1140, ../sass/develop.scss */
#content-area .boxs-price .box-middle .box-white span {
  font-size: 15px;
  display: inline-block;
}
/* line 1145, ../sass/develop.scss */
#content-area .boxs-price .bord-red {
  margin: 16px 20px 20px 21px;
  border-left: 4px solid #fe0120;
  padding: 5px 0 5px 15px;
  font-size: 14px;
  line-height: 1.3em;
  text-indent: 0px;
  font-weight: bold;
  width: 75%;
}
/* line 1154, ../sass/develop.scss */
#content-area .boxs-price .tarif {
  text-align: justify;
  text-indent: 40px;
  margin: 0.5em 0 1em 0;
  display: block;
  font-weight: bold;
}
/* line 1160, ../sass/develop.scss */
#content-area li {
  margin: 3px 0;
  list-style-image: url(/sites/all/themes/basic/img/dot_red.png);
  line-height: 1.4em;
}

/*cars*/
/* line 1166, ../sass/develop.scss */
.field-name-field-marka {
  color: white;
  padding: 10px;
  font-size: 21px;
  padding-right: 10px;
  background: #5d7ba5;
}

/* line 1172, ../sass/develop.scss */
.field-name-field-poleznyi-obem {
  padding: 12px 0 0 37px;
  background: url(/sites/all/themes/basic/img/back_07.jpg) no-repeat left top;
  height: 43px;
  margin-bottom: 9px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

/* line 1180, ../sass/develop.scss */
.field-name-field-gruzopodemnost {
  padding: 12px 0 0 37px;
  background: url(/sites/all/themes/basic/img/back_08.jpg) no-repeat left top;
  height: 43px;
  margin-bottom: 9px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

/* line 1188, ../sass/develop.scss */
.field-name-field-razmer-budki {
  padding: 12px 0 0 37px;
  background: url(/sites/all/themes/basic/img/back_09.png) no-repeat left top;
  height: 43px;
  margin-bottom: 9px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

/* line 1196, ../sass/develop.scss */
.field-name-field-dostoinstav {
  position: absolute;
  top: 73px;
  left: 240px;
  width: 168px;
}

/* line 1200, ../sass/develop.scss */
.field-name-field-img-car {
  position: absolute;
  right: 6px;
  top: 50px;
}

/* line 1203, ../sass/develop.scss */
.field-name-field-opisanie-cars {
  display: block;
  padding: 20px;
}

/* line 1204, ../sass/develop.scss */
.field-name-field-stoimost-2ch,
.field-name-field-dopolnitelnyi-chas {
  height: 70px;
  background: #f2f1ef;
  width: 30%;
  float: left;
  padding: 20px;
  color: #272727;
  text-align: center;
}
/* line 1213, ../sass/develop.scss */
.field-name-field-stoimost-2ch .field-items,
.field-name-field-dopolnitelnyi-chas .field-items {
  font-size: 21px;
  color: #fe001f;
}

/* line 1216, ../sass/develop.scss */
.field-name-field-stoimost-km {
  height: 70px;
  background: #f2f1ef;
  padding: 20px;
  color: #272727;
  text-align: center;
}
/* line 1222, ../sass/develop.scss */
.field-name-field-stoimost-km .field-items {
  font-size: 21px;
  color: #fe001f;
}

/* line 1225, ../sass/develop.scss */
.field-name-field-zakazat-btn {
  text-align: center;
  padding: 10px;
  font-family: 'HelveticaNeueCyr',Arial,Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 12px;
  background-color: #fe001f;
  width: 100px;
  margin-left: 20px;
  color: white;
}
/* line 1235, ../sass/develop.scss */
.field-name-field-zakazat-btn:hover {
  background: #5d7ba5;
}

/* car views */
/* line 1239, ../sass/develop.scss */
.view-id-cars_link {
  position: inherit;
  display: block;
  width: 750px;
  background: white;
  padding-bottom: 33px;
}

/* line 1245, ../sass/develop.scss */
.view-id-cars_link .views-field-title {
  color: white;
  padding: 10px;
  font-size: 21px;
  padding-right: 10px;
  background: #5d7ba5;
}
/* line 1251, ../sass/develop.scss */
.view-id-cars_link .views-field-title a {
  color: white;
  text-decoration: none;
}

/* line 1253, ../sass/develop.scss */
.view-id-cars_link .views-field-field-poleznyi-obem {
  padding: 12px 0 0 37px;
  background: url(/sites/all/themes/basic/img/back_07.jpg) no-repeat left top;
  height: 43px;
  margin-bottom: 9px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
}

/* line 1261, ../sass/develop.scss */
.view-id-cars_link .views-field-field-gruzopodemnost {
  padding: 12px 0 0 37px;
  background: url(/sites/all/themes/basic/img/back_08.jpg) no-repeat left top;
  height: 43px;
  margin-bottom: 9px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
}

/* line 1269, ../sass/develop.scss */
.view-id-cars_link .views-field-field-razmer-budki {
  padding: 12px 0 0 37px;
  background: url(/sites/all/themes/basic/img/back_09.png) no-repeat left top;
  height: 43px;
  margin-bottom: 9px;
  font-weight: bold;
  margin-top: 20px;
  width: 30%;
  margin-left: 20px;
}

/* line 1277, ../sass/develop.scss */
.view-id-cars_link .views-field-field-dostoinstav {
  margin-top: -168px;
  left: 240px;
  width: 168px;
  position: absolute;
  display: block;
}

/* line 1283, ../sass/develop.scss */
.view-id-cars_link .views-field-field-img-car {
  position: absolute;
  right: 6px;
  margin-top: -197px;
}

/* line 1287, ../sass/develop.scss */
.view-id-cars_link .field-name-field-opisanie-cars {
  display: block;
  padding: 20px;
}

/* line 1288, ../sass/develop.scss */
.view-id-cars_link .views-field-field-stoimost-2ch,
.view-id-cars_link .views-field-field-dopolnitelnyi-chas {
  height: 70px;
  background: #f2f1ef;
  width: 30%;
  float: left;
  padding: 20px;
  color: #272727;
  text-align: center;
}
/* line 1297, ../sass/develop.scss */
.view-id-cars_link .views-field-field-stoimost-2ch .field-content,
.view-id-cars_link .views-field-field-dopolnitelnyi-chas .field-content {
  font-size: 17px;
  color: #fe001f;
  font-weight: bold;
}

/* line 1304, ../sass/develop.scss */
.view-id-cars_link .views-field-field-stoimost-km {
  height: 70px;
  background: #f2f1ef;
  padding: 20px;
  color: #272727;
  text-align: center;
}
/* line 1310, ../sass/develop.scss */
.view-id-cars_link .views-field-field-stoimost-km .field-content {
  font-size: 17px;
  color: #fe001f;
  font-weight: bold;
}

/* line 1316, ../sass/develop.scss */
.view-id-cars_link .views-field-field-zakazat-btn {
  text-align: center;
  padding: 10px;
  font-family: 'HelveticaNeueCyr',Arial,Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 12px;
  background-color: #fe001f;
  width: 100px;
  margin-left: 20px;
  color: white;
  margin: 20px;
}
/* line 1327, ../sass/develop.scss */
.view-id-cars_link .views-field-field-zakazat-btn:hover {
  background: #5d7ba5;
}

/* line 1330, ../sass/develop.scss */
.konsultation a {
  color: #5d7ba5;
  text-decoration: underline;
}

/* line 1332, ../sass/develop.scss */
.gray_box {
  background-color: #f2f1ef;
  margin: 20px 20px 20px 20px;
  padding: 20px;
}
/* line 1336, ../sass/develop.scss */
.gray_box .box-border {
  border-left: 3px solid #fe001f;
  padding-left: 13px;
  margin-bottom: 12px;
  margin-left: 20px;
  padding: 0px 10px;
  margin-top: 20px;
}

/* line 1344, ../sass/develop.scss */
.bootom-zayavka {
  color: white;
  background-color: #fd1d38;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  font-size: 18px;
  padding: 20px 0px;
  width: 65%;
  margin: 0 auto;
}
/* line 1354, ../sass/develop.scss */
.bootom-zayavka:hover {
  background: #5d7ba5;
}

/* line 1357, ../sass/develop.scss */
.begin {
  width: 250px;
  border: 3px solid #fe001f;
  padding: 24px 24px 11px 24px;
  margin-bottom: 6px;
  position: relative;
  display: block;
  margin-top: 44px;
  margin-left: 14px;
}
/* line 1367, ../sass/develop.scss */
.begin span {
  font-size: 21px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 1372, ../sass/develop.scss */
.begin ul {
  margin-top: 20px;
}
/* line 1373, ../sass/develop.scss */
.begin ul li {
  background: url(/sites/all/themes/basic/img/back_21.png) no-repeat left top;
  margin-bottom: 13px;
  padding-left: 10px;
}
/* line 1376, ../sass/develop.scss */
.begin ul li a {
  color: #595959;
  font-size: 13px;
  text-decoration: none;
  top: -5px;
  position: relative;
}
/* line 1379, ../sass/develop.scss */
.begin ul li a:hover {
  text-decoration: underline;
}

/* line 1385, ../sass/develop.scss */
.begin-blue {
  width: 250px;
  border: 3px solid #5d7ba5;
  padding: 24px 24px 11px 24px;
  margin-bottom: 6px;
  position: relative;
  display: block;
  margin-top: 12px;
  margin-left: 14px;
}
/* line 1395, ../sass/develop.scss */
.begin-blue span {
  font-size: 21px;
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 1400, ../sass/develop.scss */
.begin-blue ul {
  margin-top: 20px;
}
/* line 1401, ../sass/develop.scss */
.begin-blue ul li {
  background: url(/sites/all/themes/basic/img/back_21.png) no-repeat left top;
  margin-bottom: 13px;
  padding-left: 10px;
}
/* line 1404, ../sass/develop.scss */
.begin-blue ul li a {
  color: #595959;
  font-size: 13px;
  text-decoration: none;
  top: -5px;
  position: relative;}
/* line 1407, ../sass/develop.scss */
.begin-blue ul li a:hover {
  text-decoration: underline;
}

/*-------------baner-pereezd----------------------*/
/* line 1414, ../sass/develop.scss */
.baner-pereezd {
  display: block;
  width: 786px;
}
/* line 1417, ../sass/develop.scss */
.baner-pereezd span {
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  background: #f2f1ef;
  padding: 20px;
  width: 100%;
  display: block;
}
/* line 1425, ../sass/develop.scss */
.baner-pereezd .box {
  display: flex;
  border-bottom: 1px solid #e3e3e3;
}
/* line 1427, ../sass/develop.scss */
.baner-pereezd .box img {
  margin: 10px;
}
/* line 1428, ../sass/develop.scss */
.baner-pereezd .box p {
  padding-top: 30px;
  width: 100%;
  padding-left: 130px;
  border-bottom: 1px solid #e3e3e3;
}
/* line 1432, ../sass/develop.scss */
.baner-pereezd .box p b {
  color: #fe001f;
  font-size: 18px;
  text-align: right;
  padding-right: 10px;
  position: relative;
  float: right;
}
/* line 1443, ../sass/develop.scss */
.baner-pereezd .pereez-btn {
  display: inline-flex;
  margin-left: 80px;
}
/* line 1444, ../sass/develop.scss */
.baner-pereezd .btn-blue {
  border: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  background-color: #2a679e;
  cursor: pointer;
  padding: 10px;
  margin-left: 20px;
  top: 20px;
  font-size: 15px;
}
/* line 1454, ../sass/develop.scss */
.baner-pereezd .btn-red {
  border: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  background-color: #fd1d38;
  cursor: pointer;
  padding: 10px;
  top: 20px;
  margin-left: 20px;
  font-size: 15px;
}

/*-- vacancy --*/
/* line 1469, ../sass/develop.scss */
.boxs-vacancy h3 {
  font-size: 21px;
  color: black;
  font-weight: 200;
  text-transform: uppercase;
  margin: 9px 0 20px 0;
}
/* line 1474, ../sass/develop.scss */
.boxs-vacancy span {
  font-size: 27px;
  color: black;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0px 0 20px 0;
  display: block;
}
/* line 1482, ../sass/develop.scss */
.boxs-vacancy ul {
  padding-left: 34px;
}
/* line 1483, ../sass/develop.scss */
.boxs-vacancy b {
  font-weight: bold;
  margin-left: 30px;
}

/* line 1487, ../sass/develop.scss */
.consut {
  border-top: none;
  width: 780px;
}
/* line 1489, ../sass/develop.scss */
.consut h3 {
  font-size: 21px;
  color: black;
  font-weight: 200;
  text-transform: uppercase;
  margin: 9px 0 20px 0;
}
/* line 1495, ../sass/develop.scss */
.consut p {
  font-family: 'HelveticaNeueCyr',Arial,Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 200;
  font-style: normal;
  color: #272727;
}
/* line 1500, ../sass/develop.scss */
.consut a {
  color: #5d7ba5;
  text-decoration: underline;
}
/* line 1502, ../sass/develop.scss */
.consut .box span {
  padding-top: 28px;
  font-size: 12px;
  text-transform: uppercase;
  width: 100%;
  display: block;
}
/* line 1509, ../sass/develop.scss */
.consut .white-zvonok {
  border: none;
  color: white;
  text-transform: uppercase;
  position: relative;
  background-color: #2a679e;
  cursor: pointer;
  font-weight: bolder;
}
/* line 1517, ../sass/develop.scss */
.consut .box:hover {
  border-top: 4px solid #ffffff;
}

/* line 1519, ../sass/develop.scss */
.vopros p {
  text-align: justify;
  line-height: 20px;
  word-spacing: 0px;
  text-indent: 40px;
  margin: 0.5em 0 1em 0;
}

/*packing */
/* line 1528, ../sass/develop.scss */
.view-packing-views .views-row {
  margin-right: 2%;
  margin: 10px;
  border-top: 4px solid #6a86ac;
  width: 222px;
  height: 288px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  float: left;
  text-align: center;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
/* line 1542, ../sass/develop.scss */
.view-packing-views .views-row:hover {
  border-top: 4px solid #fe001f;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
}
/* line 1548, ../sass/develop.scss */
.view-packing-views .views-row .views-field-title {
  color: black;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  margin: 12px 20px;
}
/* line 1554, ../sass/develop.scss */
.view-packing-views a {
/*  position: absolute;
  color: rgba(255, 255, 255, 0.02);
  width: 28%;
  display: inline-table;
  left: 10px;
  height: 282px;*/
    position: absolute;
    color: rgba(255, 255, 255, 0.02);
    width: 220px;
    height: 282px;
    float: left;
    display: block;
}

#toptel{
   position: relative;
    margin-top: 10px;
    width: 39.8%;
    margin-left: 31px;
    display: inline-flex;
    float: left;
    background: white;
    height: 50px;}
#toptel .box_first .box_head2 {
    display: block;
    position: relative;
    width: 302px;
    margin: 0px;
    padding: 17px 5px 5px;
    text-align: center;}    
#toptel .clock{    display: inline-block;
    vertical-align: middle;
    background-image: url(/sites/all/themes/basic/img/icons.png);
    width: 20px;
    height: 20px;
    float: left;
    margin: 0px 20px;}
#box_head .calc{display: inline-block;
    vertical-align: middle;
    background-image: url(/sites/all/themes/basic/img/icons.png);
    width: 20px;
    height: 20px;
    float: left;
    background-position: 0% 20px;}
#box_head .transfer{    display: inline-block;
    vertical-align: middle;
    background-image: url(/sites/all/themes/basic/img/icons.png);
    width: 20px;
    height: 20px;
    float: left;
    background-position: 31% 20px;}   
#box_head  a{text-decoration: none;
    border-bottom: 1px dotted #aaa;
    font-size: 14px;
    color: #272727;
    line-height: 20px;
    font-family: "Verdana", sans-serif;
    font-weight: 400;}
#box_head .report{border-bottom: 1px dotted #aaa;
    font-size: 14px;
    color: #272727;
    line-height: 20px;
    cursor: pointer;
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    width: 120px;
    display: block;
    text-align: center;}


.block-locationmap{
  display: inline-block;
  text-align: center;
  float: left;}

  /*box*/
.field-name-field-img-box{width: 45%; float: left;}
.field-name-field-characterstik{font-size: 21px;
    color: black;
    background: #f2f1ef;
    margin: 0;
    padding: 11px 18px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 9px 0 20px 0;
    text-align: center;
    border-top: 4px solid #5d7ba5;}
.field-name-field-size-box{padding: 6px 0 0 49px;
    background: url(/sites/all/themes/basic/img/back_09.png);
    height: 40px;
    font-weight: bold;
    color: #5a5a5a;
    background-repeat: no-repeat;
    float: left;
    display: block;
    width: 433px;}
.field-name-field-vulum-box {padding: 6px 0 0 49px;
    background: url(/sites/all/themes/basic/img/back_07.jpg);
    height: 45px;
    font-weight: bold;
    color: #5a5a5a;
    background-repeat: no-repeat;
    float: left;
    display: block;
    width: 433px;}   
.field-name-field-text-box{    
    text-align: justify;
    line-height: 20px;
    word-spacing: 0px;
    text-indent: 40px;
    float: left;
    margin: 0.5em 0 1em 0;}   

.field-name-field-color-brown .field-items{    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    position: relative;
    display: inline-block;} 
.field-name-field-tehinfo{    
    margin-top: 10px;
    width: 50%;
    display: inline-block;}    
.field-name-field-tehinfo .field-items{    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    position: relative;
    display: inline-block;}  
.field-name-field-available .field-items{background: url(/sites/all/themes/basic/img/back_29.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block;}

.field-name-field-available{
    color: #5a5a5a;
    background-repeat: no-repeat;
    display: block;
    padding: 15px;
    background: #f2f1ef;
    margin: 20px 0px;}    
.field-name-field-price-box .field-label{
    font-weight: bold;
    float: left;
    padding: 3px;
}
.field-name-field-price-box .field-item{   
    font-size: 19px;
    color: #ff0020;
    font-weight: 400;
    padding-left: 5px;}


  /*-- sheets --*/
.field-name-field-sheets-img{width: 45%; float: left;}
.field-name-field-sheets-harakteristik{font-size: 21px;
    color: black;
    background: #f2f1ef;
    margin: 0;
    padding: 11px 18px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 9px 0 20px 0;
    text-align: center;
    border-top: 4px solid #5d7ba5;}
.field-name-field-sheets-size{padding: 6px 0 0 49px;
    background: url(/sites/all/themes/basic/img/back_09.png);
    height: 40px;
    font-weight: bold;
    color: #5a5a5a;
    background-repeat: no-repeat;
    float: left;
    display: block;
    width: 433px;}  
.field-name-field-sheets-text{    
    text-align: justify;
    line-height: 20px;
    word-spacing: 0px;
    text-indent: 40px;
    float: left;
    margin: 0.5em 0 1em 0;}   

.field-name-field-sheets-list1 .field-items{    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    position: relative;
    margin-top: 10px;
    display: inline-block;} 
.field-name-field-sheets-list2{    
    margin-top: 10px;
    width: 50%;
    display: inline-block;}    
.field-name-field-sheets-list2 .field-items{    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    margin-top: 10px;
    position: relative;
    display: inline-block;}  
.field-name-field-sheets-nalichie .field-items{background: url(/sites/all/themes/basic/img/back_29.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block;}

.field-name-field-sheets-nalichie{
    color: #5a5a5a;
    background-repeat: no-repeat;
    display: block;
    padding: 15px;
    background: #f2f1ef;
    margin: 20px 0px;}    
.field-name-field-sheets--price .field-label{
    font-weight: bold;
    float: left;
    padding: 3px;
}
.field-name-field-sheets--price .field-item{   
    font-size: 19px;
    color: #ff0020;
    font-weight: 400;
    padding-left: 5px;}


 /*-- strech --*/
.field-name-field-img-stretch{width: 45%; float: left;}
.field-name-field-harakteristik-stretch{font-size: 21px;
    color: black;
    background: #f2f1ef;
    margin: 0;
    padding: 11px 18px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 9px 0 20px 0;
    text-align: center;
    border-top: 4px solid #5d7ba5;}   
.field-name-field-text-strech{    
    text-align: justify;
    line-height: 20px;
    word-spacing: 0px;
    text-indent: 40px;
    float: left;
    margin: 0.5em 0 1em 0;}   

.field-name-field-list1-strech .field-items, .field-name-field-list2-strech .field-items,
.field-name-field-list3-stech .field-items, .field-name-field-list4-strech .field-items{    
   border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    position: relative;
    margin-top: 15px;
    display: inline-block;}     
.field-name-field-tehinfo .field-items{    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    position: relative;
    display: inline-block;}  
.field-name-field-nalichie-strech .field-items{background: url(/sites/all/themes/basic/img/back_29.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block;}

.field-name-field-nalichie-strech{
    color: #5a5a5a;
    background-repeat: no-repeat;
    display: block;
    padding: 15px;
    background: #f2f1ef;
    margin: 20px 0px;}    
.field-name-field-price-strech .field-label{
    font-weight: bold;
    float: left;
    padding: 3px;
}
.field-name-field-price-strech .field-item{   
    font-size: 19px;
    color: #ff0020;
    font-weight: 400;
    padding-left: 5px;}



 /*-- bubble --*/
.field-name-field-bubble-img{width: 45%; float: left;}
.field-name-field-bubble-harakt{font-size: 21px;
    color: black;
    background: #f2f1ef;
    margin: 0;
    padding: 11px 18px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 9px 0 20px 0;
    text-align: center;
    border-top: 4px solid #5d7ba5;}   
.field-name-field-bubble-text{    
    text-align: justify;
    line-height: 20px;
    word-spacing: 0px;
    text-indent: 40px;
    float: left;
    margin: 0.5em 0 1em 0;}   

.field-name-field-bubble-list2 .field-items, .field-name-field-bubble-list3 .field-items,
.field-name-field-bubble-list4 .field-items, .field-name-field-bubble-list1 .field-items{    
   border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    position: relative;
    margin-top: 15px;
    display: inline-block;}     
  
.field-name-field-bubble-nal .field-items{background: url(/sites/all/themes/basic/img/back_29.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block;}

.field-name-field-bubble-nal{
    color: #5a5a5a;
    background-repeat: no-repeat;
    display: block;
    padding: 15px;
    background: #f2f1ef;
    margin: 20px 0px;}    
.field-name-field-bubble-price .field-label{
    font-weight: bold;
    float: left;
    padding: 3px;
}
.field-name-field-bubble-price .field-item{   
    font-size: 19px;
    color: #ff0020;
    font-weight: 400;
    padding-left: 5px;}



/* ---- view-box-views ----*/
.view-box-views .views-row {    
    width: 30%;
    float: left;
    margin-right: 2%;
    height: 400px;
    border: 1px solid #e3e3e3;
    margin-bottom: 2%;}
.view-box-views .views-field-title{    
   text-transform: uppercase;
    background: #5d7ba5;
    height: 40px;}
.view-box-views .views-field-title a{    
   color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 4px;
    text-align: center;
    display: block;}
.view-box-views .views-row:hover{
  webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  }
.view-box-views .views-field-field-size-box{text-align: center; padding: 20px 10px 10px 30px; background: #f2f1ef;margin-bottom: 20px;}
.view-box-views .views-field-field-available{background: url(/sites/all/themes/basic/img/back_15.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block;}
.view-box-views .views-field-field-price-box{text-align: center;
    top: 10px;
    position: relative;}  
.view-box-views .views-label-field-price-box{font-weight: bold;padding: 3px;}
.view-box-views .views-field-field-price-box .field-content{font-size: 17px;
    color: #ff0020;
    font-weight: bold;
    padding-left: 5px;}    


/* ---- view-sheets-views ----*/
.view-id-sheets .views-row {    
    width: 30%;
    float: left;
    margin-right: 2%;
    height: 400px;
    border: 1px solid #e3e3e3;
    margin-bottom: 2%;}
.view-id-sheets .views-field-title{    
   text-transform: uppercase;
    background: #5d7ba5;
    height: 40px;}
.view-id-sheets .views-field-title a{    
   color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 4px;
    text-align: center;
    display: block;}
.view-id-sheets .views-row:hover{
  webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  }
.view-id-sheets .views-field-field-sheets-size{text-align: center;padding: 20px 10px 10px 30px; background: #f2f1ef;margin-bottom: 20px;}
.view-id-sheets .views-field-field-sheets-nalichie{background: url(/sites/all/themes/basic/img/back_15.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block;}
.view-id-sheets .views-field-field-sheets--price{text-align: center;
    top: 10px;
    position: relative;}  
.view-id-sheets .views-field-field-sheets--price{font-weight: bold;padding: 3px;}
.view-id-sheets .views-field-field-sheets--price .field-content{font-size: 17px;
    color: #ff0020;
    font-weight: bold;
    padding-left: 5px;} 


/* ---- strach ----*/
.view-id-strech .views-row {    
    width: 30%;
    float: left;
    margin-right: 2%;
    height: 400px;
    border: 1px solid #e3e3e3;
    margin-bottom: 2%;}
.view-id-strech .views-field-title{    
   text-transform: uppercase;
    background: #5d7ba5;
    height: 40px;}
.view-id-strech .views-field-title a{    
   color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 4px;
    text-align: center;
    display: block;}
.view-id-strech .views-row:hover{
  webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  }
.view-id-strech .views-field-field-list1-strech{text-align: center;padding: 20px 10px 10px 30px; background: #f2f1ef;margin-bottom: 20px;}
.view-id-strech .views-field-field-nalichie-strech{background: url(/sites/all/themes/basic/img/back_15.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block;}
.view-id-strech .views-field-field-price-strech{text-align: center;
    top: 10px;
    position: relative;}  
.view-id-strech .views-field-field-price-strech{font-weight: bold;padding: 3px;}
.view-id-strech .views-field-field-price-strech .field-content{font-size: 17px;
    color: #ff0020;
    font-weight: bold;
    padding-left: 5px;}    



/* ---- view-box_move ----*/
.view-id-nabory .views-row {    
    width: 30%;
    float: left;
    margin-right: 2%;
    height: 400px;
    border: 1px solid #e3e3e3;
    margin-bottom: 2%;}
.view-id-nabory .views-field-title{    
   text-transform: uppercase;
    background: #5d7ba5;
    height: 40px;}
.view-id-nabory .views-field-title a{    
   color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 4px;
    text-align: center;
    display: block;}
.view-id-nabory .views-row:hover{
  webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  }
.view-id-nabory .views-field-field-list1{text-align: center;padding: 20px 10px 10px 30px; background: #f2f1ef;margin-bottom: 20px;text-align: center;}
.view-id-nabory .views-field-field-vnalichii{background: url(/sites/all/themes/basic/img/back_15.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block;}
.view-id-nabory .views-field-field-price-nabor{text-align: center;
    top: 10px;
    position: relative;}  
.view-id-nabory .views-field-field-price-nabor{font-weight: bold;padding: 3px;}
.view-id-nabory .views-field-field-price-nabor .field-content{font-size: 17px;
    color: #ff0020;
    font-weight: bold;
    padding-left: 5px;}  

/* ---- skotch ----*/
.view-id-skotch .views-row {    
    width: 30%;
    float: left;
    margin-right: 2%;
    height: 400px;
    border: 1px solid #e3e3e3;
    margin-bottom: 2%;}
.view-id-skotch .views-field-title{    
   text-transform: uppercase;
    background: #5d7ba5;
    height: 40px;}
.view-id-skotch .views-field-title a{    
   color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 4px;
    text-align: center;
    display: block;}
.view-id-skotch .views-row:hover{
  webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  }
.view-id-skotch .views-field-field-list1-skotch{text-align: center;padding: 20px 10px 10px 30px; background: #f2f1ef;margin-bottom: 20px;text-align: center;}
.view-id-skotch .views-field-field-nalichie-skotch{background: url(/sites/all/themes/basic/img/back_15.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block;}
.view-id-skotch .views-field-field-price-skotch{text-align: center;
    top: 10px;
    position: relative;}  
.view-id-skotch .views-field-field-price-skotch{font-weight: bold;padding: 3px;}
.view-id-skotch .views-field-field-price-skotch .field-content{font-size: 17px;
    color: #ff0020;
    font-weight: bold;
    padding-left: 5px;}  


/* ---- bubble ----*/
.view-id-bubble .views-row {    
    width: 30%;
    float: left;
    margin-right: 2%;
    height: 400px;
    border: 1px solid #e3e3e3;
    margin-bottom: 2%;}
.view-id-bubble .views-field-title{    
   text-transform: uppercase;
    background: #5d7ba5;
    height: 40px;}
.view-id-bubble .views-field-title a{    
   color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 4px;
    text-align: center;
    display: block;}
.view-id-bubble .views-row:hover{
  webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  }
.view-id-bubble .views-field-field-bubble-list1{text-align: center;padding: 20px 10px 10px 30px; background: #f2f1ef;margin-bottom: 20px;text-align: center;}
.view-id-bubble .views-field-field-bubble-nal{background: url(/sites/all/themes/basic/img/back_15.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block;}
.view-id-bubble .views-field-field-bubble-price{text-align: center;
    top: 10px;
    position: relative;}  
.view-id-bubble .views-field-field-bubble-price{font-weight: bold;padding: 3px;}
.view-id-bubble .views-field-field-bubble-price .field-content{font-size: 17px;
    color: #ff0020;
    font-weight: bold;
    padding-left: 5px;}  



/* ---- polietilen ----*/
.view-spenenyi-polietilen .views-row {    
    width: 30%;
    float: left;
    margin-right: 2%;
    height: 400px;
    border: 1px solid #e3e3e3;
    margin-bottom: 2%;}
.view-spenenyi-polietilen .views-field-title{    
   text-transform: uppercase;
    background: #5d7ba5;
    height: 40px;}
.view-spenenyi-polietilen .views-field-title a{    
   color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 4px;
    text-align: center;
    display: block;}
.view-spenenyi-polietilen .views-row:hover{
  webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.44);
  }
.view-spenenyi-polietilen .views-field-field-list1-politilen{text-align: center;padding: 20px 10px 10px 30px; background: #f2f1ef;margin-bottom: 20px;text-align: center;}
.view-spenenyi-polietilen .views-field-field-nalichie-polietilen{background: url(/sites/all/themes/basic/img/back_15.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block;}
.view-spenenyi-polietilen .views-field-field-price-polietilen{text-align: center;
    top: 10px;
    position: relative;}  
.view-spenenyi-polietilen .views-field-field-price-polietilen{font-weight: bold;padding: 3px;}
.view-spenenyi-polietilen .views-field-field-price-polietilen .field-content{font-size: 17px;
    color: #ff0020;
    font-weight: bold;
    padding-left: 5px;}  


/*-- field-name-field-img-moving --*/
.field-name-field-img-moving{width: 45%; float: left;}
.field-name-field-haracteristik-moving{    
    font-size: 21px;
    color: black;
    background: #f2f1ef;
    margin: 0;
    padding: 11px 18px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 9px 0 10px 0;
    text-align: center;
    border-top: 4px solid #5d7ba5;}
.field-name-field-sostav{
    margin-bottom: 7px;
    color: #5a5a5a;
    margin-left: 21px;
    position: relative;
    display: inline-block;}
.field-name-field-list1{    
    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    width: 300px;
    margin-bottom: 7px;
    position: relative;
    display: inline-block;}        
.field-name-field-list2{    
    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    width: 300px;
    margin-bottom: 7px;
    position: relative;
    display: inline-block;}
.field-name-field-list3, .field-name-field-list4, .field-name-field-list5, .field-name-field-list6, .field-name-field-list7, .field-name-field-list8{    
    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    width: 300px;
    margin-bottom: 7px;
    position: relative;
    display: inline-block;}    
.field-name-field-vnalichii{    
    color: #5a5a5a;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    display: block;
    padding: 15px;
    background: #f2f1ef;}
.field-name-field-vnalichii .field-item{    
   background: url(/sites/all/themes/basic/img/back_29.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block}
.field-name-field-price-nabor .field-item{    
    font-size: 19px;
    color: #ff0020;
    font-weight: 400;
    padding-left: 5px;}
.field-name-field-text-nabor{    
    text-align: justify;
    line-height: 20px;
    word-spacing: 0px;
    text-indent: 40px;
    float: left;
    margin: 0.5em 0 1em 0;}


/*-- polietilen --*/
.field-name-field-img-polietilen{width: 45%; float: left;}
.field-name-field-text-polietilen{    
    font-size: 21px;
    color: black;
    background: #f2f1ef;
    margin: 0;
    padding: 11px 18px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 9px 0 10px 0;
    text-align: center;
    border-top: 4px solid #5d7ba5;}

.field-name-field-list1-politilen{    
    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    width: 300px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;}        
.field-name-field-list2-polietilen{    
    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    width: 300px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;}
.field-name-field-list3-polietilen, .field-name-field-list4-polietilen{    
    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    width: 300px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;}    
.field-name-field-nalichie-polietilen{    
    color: #5a5a5a;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    display: block;
    padding: 15px;
    background: #f2f1ef;}
.field-name-field-price-polietilen .field-label{float: left;}    
.field-name-field-nalichie-polietilen .field-item{    
   background: url(/sites/all/themes/basic/img/back_29.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block}
.field-name-field-price-polietilen .field-items{    
    font-size: 19px;
    color: #ff0020;
    font-weight: 400;
    padding-left: 5px;}
.field-name-field-text-polietil{    
    text-align: justify;
    line-height: 20px;
    word-spacing: 0px;
    text-indent: 40px;
    float: left;
    margin: 0.5em 0 1em 0;}
.field-name-field-price-polietilen{left: 30px;
    top: 20px;
    position: relative;}

/*-- skotch --*/
.field-name-field-img-skotch{width: 45%; float: left;}
.field-name-field-harcteristic-skotch{    
    font-size: 21px;
    color: black;
    background: #f2f1ef;
    margin: 0;
    padding: 11px 18px;
    font-weight: 200;
    text-transform: uppercase;
    margin: 9px 0 10px 0;
    text-align: center;
    border-top: 4px solid #5d7ba5;}
.field-name-field-list1-skotch{    
    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    width: 300px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;}        
.field-name-field-list2-skotch{    
    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    width: 300px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;}
.field-name-field-list3-skotch, .field-name-field-list4-skotch{    
    border-left: 2px solid red;
    padding-left: 10px;
    margin-left: 50px;
    width: 300px;
    margin-bottom: 15px;
    position: relative;
    display: inline-block;}    
.field-name-field-nalichie-skotch{    
    color: #5a5a5a;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    display: block;
    padding: 15px;
    background: #f2f1ef;}
.field-name-field-nalichie-skotch .field-item{    
   background: url(/sites/all/themes/basic/img/back_29.jpg);
    background-repeat: no-repeat;
    padding-left: 25px;
    height: 15px;
    margin-left: 50px;
    display: inline-block}
.field-name-field-price-skotch .field-item{    
    font-size: 19px;
    color: #ff0020;
    font-weight: 400;
    padding-left: 5px;}
.field-name-field-price-skotch{left: 30px;
    top: 20px;
    position: relative;} 
.field-name-field-price-skotch .field-items, .field-name-field-price-skotch .field-label{float: left;}      
.field-name-field-text-skotch{    
    text-align: justify;
    line-height: 20px;
    word-spacing: 0px;
    text-indent: 40px;
    float: left;
    margin: 0.5em 0 1em 0;}

.ofmov{
   display: inline-block;
    border: 1px solid #eee;
    width: 330px;
    margin: 2px;
    float: left;}
.ofmov span{font-weight: bold;font-size: 14px;}
.ofmov .b1{}
.ofmov .b1 img{float: left;}
.ofmov .b2{
    font-size: 17px;
    padding: 10px;
    margin-left: 130px;
    position: relative;}

/*-- office mov*/
.boxs_officemove{padding: 0px 20px 10px 40px;}
.boxs_officemove .boxs{    
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    margin: 20px 0 25px}
.boxs_officemove .box1{
      height: 328px;
    background: url(/sites/all/themes/basic/img/1f.jpg) center no-repeat, #c73581;
    color: white;
    padding: 35px 70px 0 0}
.boxs_officemove .titles{
      float: right;
    clear: both;
    width: 480px;
    margin: 0 0 15px;
    padding-right: 70px;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;}
.boxs_officemove .text{float: right;
    clear: both;
    max-width: 460px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 18px;}
.boxs_officemove .text p{margin-bottom: 10px;}    
.boxs_officemove .name{    
   font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    margin: 20px 0 25px;}
.boxs_officemove .box2{
    width: 490px;
    height: 200px;
    margin: 0 5px 10px;
    background: url(/sites/all/themes/basic/img/2.jpg) no-repeat, #c73581;
    display: inline-flex;
    padding: 10px 0 0 175px;
    background-size: cover;}
.boxs_officemove .box2 .titles2{
    display: inline-table;
    position: absolute;
    color: white;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 15px;
    padding-right: 10px;
    width: 300px;}
.boxs_officemove .box2 .text2{
    position: absolute;
    width: 290px;
    margin-top: 80px;
    font-size: 13px;
    padding-right: 20px;
    color: white;}

.boxs_officemove .cl7{   
   background: #eee;
    border-left: 4px solid red;
    color: #272727;
    float: left;
    margin-right: 10px;
    padding: 30px 30px 0 65px;}    
.boxs_officemove .cl7 .titles2{font-size: 16px;
    margin-bottom: 25px;
    color: black}  
.boxs_officemove .cl7 .text2 p{    
   font-size: 24px;
   margin-bottom: 20px;
   color: black;}      
.boxs_officemove .cl2{background: url(/sites/all/themes/basic/img/3f.jpg) no-repeat, #c73581;background-size: cover;}
.boxs_officemove .cl3{background: url(/sites/all/themes/basic/img/4f.jpg) no-repeat, #c73581;background-size: cover;}
.boxs_officemove .cl4{background: url(/sites/all/themes/basic/img/5f.jpg) no-repeat, #c73581;background-size: cover;}
.boxs_officemove .cl5{background: url(/sites/all/themes/basic/img/6f.jpg) no-repeat, #c73581;background-size: cover;}
.boxs_officemove .cl6{background: url(/sites/all/themes/basic/img/7f.jpg) no-repeat, #c73581;background-size: cover;}
.boxs_officemove .cl8{background: url(/sites/all/themes/basic/img/8f.jpg) no-repeat, #c73581;background-size: cover;}

.boxs_officemove .box3{   
     height: 200px;
    background: url(/sites/all/themes/basic/img/snizhf.jpg) no-repeat;
    background-size: cover;
    color: white;
    padding: 40px 10px 0 240px;
    margin: 10px 0;}

.boxs_officemove .box3 .titles3{    
    font-size: 100px;
    line-height: 85px;
    letter-spacing: -0.1em;
    margin-right: 20px;
    float: left;}
.boxs_officemove .box3 span{text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;}
.boxs_officemove .box3  p{font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 0 0 120px;
    line-height: 18px;}    

.boxs_officemove .box4{
    margin: 10px 0;
    height: 360px;
    background: url(/sites/all/themes/basic/img/men.jpg) no-repeat, #c73581;background-size: cover;
    color: white;
    padding: 50px 20px 0 475px;}    
.boxs_officemove .box4 .titles{max-width: 460px;
    margin: 0 0 20px;
    padding-right: 70px;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;}
.boxs_officemove .box4 .text2{display: inline-block;}    
.boxs_officemove .box4 .text2 li{line-height: 1.6em;}

.bestelevator{}
.bestelevator p{    
  font-size: 14px;
  margin-bottom: 5px;
  color: black;}
.bestelevator .gruzch{    
    height: 149px;
    margin: 0 5px;
    padding-left: 125px;
    padding-right: 10px;
    color: white;
    -webkit-box-flex: 1 1 235px;
    -moz-box-flex: 1 1 235px;
    -webkit-flex: 1 1 235px;
    -ms-flex: 1 1 235px;
    flex: 1 1 235px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
   float: left;
    width: 240px;}
.bestelevator .gruzch .text2 p{color: white;}
.bestelevator .g1{background: url(/sites/all/themes/basic/img/12f.jpg); background-size: cover;}  
.bestelevator .g2{background: url(/sites/all/themes/basic/img/13f.jpg); background-size: cover;} 
.bestelevator .g3{background: url(/sites/all/themes/basic/img/14f.jpg); background-size: cover;} 
.bestelevator .g4{background: url(/sites/all/themes/basic/img/15f.jpg); background-size: cover;} 