div.tabs {
  margin: 0 0 5px 0;
}

ul.primary, ul.secondary {
  width: 100%;
}

ul.primary {
  margin: 0;
  padding: 0 0 0 10px;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(../images/optimized/tabs/tab-bar.png) repeat-x left bottom;
}
ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}
ul.primary li.active a, ul.primary li.active a:hover {
  border-width: 0;
  color: black;
  background-color: transparent;
  background: url(../images/optimized/tabs/tab-left.png) no-repeat left 0;
}
ul.primary li.active a .tab, ul.primary li.active a:hover .tab {
  background: url(../images/optimized/tabs/tab-right.png) no-repeat right 0;
}
ul.primary li a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px;
  border-width: 0;
  font-weight: bold;
  text-decoration: none;
  color: #777777;
  background-color: transparent;
  background: url(../images/optimized/tabs/tab-left.png) no-repeat left -38px;
}
ul.primary li a:hover {
  border-width: 0;
  background-color: transparent;
  background: url(../images/optimized/tabs/tab-left.png) no-repeat left -76px;
}
ul.primary li a:hover .tab {
  background: url(../images/optimized/tabs/tab-right.png) no-repeat right -76px;
}
ul.primary li a .tab {
  display: block;
  height: 20px;
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(../images/optimized/tabs/tab-right.png) no-repeat right -38px;
}

ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid silver;
  list-style: none;
  white-space: nowrap;
  background: url(../images/optimized/tabs/tab-secondary-bg.png) repeat-x left bottom;
}
ul.secondary li {
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none;
}
ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid silver;
  text-decoration: none;
  color: #777777;
  background: url(../images/optimized/tabs/tab-secondary.png) repeat-x left -56px;
}
ul.secondary a .active, ul.secondary a .active:hover {
  border: 1px solid silver;
  color: black;
  background: url(../images/optimized/tabs/tab-secondary.png) repeat-x left top;
}
ul.secondary a:hover {
  background: url(../images/optimized/tabs/tab-secondary.png) repeat-x left bottom;
}
ul.secondary a .tab {
  display: block;
  height: 18px;
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

/*# sourceMappingURL=tabs.css.map */
